@import "/edu/wpi/first/shuffleboard/api/base.css";

.root {
    -fx-text-base-color: #fefefe;
    /* Swatch Colors - Blue */

    -swatch-100: hsb(28, 98%, 100%);
    -swatch-200: hsb(28, 98%, 95%);
    -swatch-300: hsb(28, 98%, 90%);
    -swatch-400: hsb(28, 98%, 85%);
    -swatch-500: hsb(28, 98%, 80%);

    -swatch-dark-gray: rgb(16, 16, 24);
    -swatch-gray: hsb(237, 100%, 21%);
    -swatch-light-gray: hsb(237, 100%, 41%);
    -fx-background: derive(-swatch-gray, -30%);
    -fx-color: -swatch-gray;
    -confirmation-color-confirmed: lime;
    -confirmation-color-error: red;
}

.widget-pane {
    -fx-grid-line-color: rgb(0, 0, 0);
}

.grid-highlight {
    -fx-border-color: #A6AAF4;
    -fx-background-color: #FFFFFF08;
}

.grid-highlight:colliding {
    -fx-border-color: -swatch-500;
    -fx-background-color: #00000008;
}

.grid-selection {
    -fx-fill: #FFFFFF08;
    -fx-stroke: #A6AAF4;
    -fx-stroke-width: 0.25em;
}

.menu-bar {
    -fx-background-color: -swatch-light-gray;
}

.menu-item {
    -fx-background-color: -swatch-gray;
}

.menu:hover, .menu:selected {
    -fx-background-color: -swatch-200;
}

.context-menu {
    -fx-background-color: -swatch-gray;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -swatch-200;
}

.text-field, .text-area {
    -fx-text-fill: -fx-text-base-color;
    -underline-color: -swatch-gray;
    -fx-border-color: -swatch-light-gray;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: -swatch-200;
}

.toggle-button, .button {
    -fx-background-color: rgb(14, 14, 28);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.70), 6.0, 0.3, 0, 2);
}

.toggle-button:selected, .button:selected {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

.button-raised .button .text, .button-flat .button .text {
    -fx-text-weight: Bold;
}

.button:default {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

.toggle-button:focused, .button:focused, .button:default:focused {
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: white;
}

.toggle-button:focused:selected {
    -fx-background-color: derive(-swatch-500, -12%);
    -fx-text-fill: white;
}

.toggle-button:armed, .toggle-button:selected, .button:armed, .button:default:armed {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

.tile .toggle-switch > .thumb-area {
    -fx-background-color: -swatch-light-gray, -swatch-gray;
}

.toggle-switch > .thumb-area {
    -fx-background-color: derive(-swatch-light-gray, -25%), -swatch-dark-gray;
}

.toggle-switch > .thumb {
    -fx-background-color: #AAAAAA;
}

.tile .toggle-switch:selected > .thumb-area,
.toggle-switch:selected > .thumb-area {
    -fx-background-color: -swatch-500;
}

.progress-bar .track {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.titled-pane > .title {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: #eeeeee;
}

.tree-table-view *, .table-view * {
    -fx-border-color: transparent;
}

.table-row-cell * {
    -fx-text-fill: white;
}

.tree-table-row-cell:selected, .table-row-cell:selected {
    -fx-background-color: -swatch-light-gray;
}

.tree-table-row-cell:selected *, .table-row-cell:selected * {
    -fx-text-fill: #ee9b00;
}

.tree-table-view, .table-view {
    -fx-background-color: -swatch-dark-gray;
}

.tree-table-view .column-header, .table-view .column-header {
    -fx-background-color: -swatch-500;
}

.column-header-background {
    -fx-background-color: #111111;
}

.tree-table-row-cell, .table-row-cell {
    -fx-background-color: -swatch-gray;
    -fx-border-color: transparent;
}

.tree-table-row-cell:empty, .tree-table-row-cell:empty:hover,
.table-row-cell:empty, .table-row-cell:empty:hover {
    -fx-background-color: transparent;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow,
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

.scroll-pane .corner {
    -fx-background-color: -swatch-dark-gray;
}

.scroll-bar .track-background {
    -fx-background-color: -swatch-dark-gray !important;
}

.scroll-bar .thumb {
    -fx-background-color: -swatch-light-gray !important;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: white !important;
}

.tile {
    -fx-background-color: -swatch-dark-gray;
    -fx-effect: dropshadow(gaussian, #101010, 6, 0.1, 0, 4);
}

.tile:selected {
    -fx-background-color: #10102F;
    -fx-effect: dropshadow(gaussian, -swatch-100, 6, 0.1, 0, 4);
}

.tile:selected .tile-title-bar {
    -fx-background-color: -swatch-500;
}

.tile-title-bar {
    -fx-background-color: -swatch-light-gray;
}

.tile .label {
    -fx-text-fill: -fx-text-base-color;
}

.layout-stack {
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-border-color: black;
}

.layout-label * {
    -fx-text-fill: #aaa;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: -swatch-gray;
}

.list-view .list-cell:filled:focused:selected {
    -fx-background-color: -swatch-500;
    -fx-text-fill: -fx-text-base-color;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -swatch-100;
}

.list-view:hover .list-cell:filled:hover {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: -fx-text-base-color;
}

.list-view:hover .list-cell:hover {
    -fx-background-color: null;
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-base, .choice-box {
    -fx-border-color: -swatch-light-gray;
}

.combo-box-popup {
    -fx-border-color: orange;
}

.combo-box-popup .list-view {
    -fx-border-color: -swatch-300;
    -fx-border-width: 1px;
    -fx-background-color: -swatch-dark-gray;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -swatch-gray;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -swatch-500;
    -fx-text-fill: yellow;
}

.slider .axis, .range-slider .axis {
    -fx-tick-label-fill: #eee;
}

.gauge {
    -fx-needle-color: -swatch-100;
    -fx-tick-mark-color: white;
    -fx-major-tick-color: white;
    -fx-minor-tick-color: #aaa;
    -fx-medium-tick-color: #aaa;
}

.tab-pane {
    -fx-border-color: transparent;
}

.robot-drive {
    -fx-fill: #666;
}

.settings-pane {
    -fx-border-color: #171F2F;
}

.axis-label {
    -fx-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}
